.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  font-weight: 400;
  margin: 20px 0px;
  font-size: 24px;
  height: 35px;
}

span {
  color: #7189d6;
  font-weight: bold;
}

.container {
  width: 100%;
  height: calc(100% - 140px);
}

.setting {
  height: 80px;
  box-sizing: border-box;
  background-color: white;
  text-align: left;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  flex-direction: column;
}

input[type='file'] {
  width: 100%;
  padding: 4px;
}

.upload-border {
  border: 1px solid black;
  width: 100%;
}
input[type='file']::-webkit-file-upload-button {
  width: 0;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  border: none;
  border: 0px;
}

x::-webkit-file-upload-button,
input[type='file']:after {
  content: 'Browse...';
  left: 100%;
  margin-left: 3px;
  position: relative;
  -webkit-appearance: button;
  padding: 3px 8px 2px;
  border: 0px;
}

input[type='text'],
input[type='number'] {
  width: 30px;
  margin: 0px 4px;
}

button {
  width: 30px;
  margin: 0px 4px;
}

.lyrics {
  width: 100%;
  margin-top: 16px;
  height: 100%;
}

textarea {
  width: calc(100% - 4px);
  border: 0px;
  resize: none;
  height: 100%;
  white-space: pre;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .container {
    width: 700px;
  }
}
